html, body {
				height: 100v;
}

body {
    background: white;
    color: black;
    font-family: "Arial";
    scrollbar-base-color:  #c6d6ee;
    scrollbar-arrow-color: #000000;
		font-size: 12pt;
}

.center {
	text-align: center;
	}

#nav {
				float: left;
				margin-right: 10px;
}

table {
	border-top: #c6d6ee 2px solid; 
	border-right: #c6d6ee 2px solid; 
	border-left: #c6d6ee 2px solid; 
	border-bottom: #c6d6ee 2px solid; 
	border-radius: 25px;
	font-size: 12pt;
}

a {
	text-decoration: none;
	}

td {
	font-weight: bold; 
	font-size: 10pt;
	}

th {
	font-weight: bold; 
	padding: 5px;
	font-size: 12pt;
	background: #c6d6ee;
	border-radius: 25px 25px 5px 5px;
	}

th.plain {
	border-radius: 0px 0px 0px 0px;
}
th.left {
	border-radius: 25px 0px 0px 0px;
}
th.right {
	border-radius: 0px 25px 0px 0px;
}

h1 {
	font-size: 18pt;
	line-height: 50%;
	}
